/* Configuração global */
body {
  background: radial-gradient(
    circle at 30% 30%,
    #1a1a2e 10%,
    #16213e 30%,
    #092241 50%,
    #2a3a43 70%,
    #00293f 90%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Configurando o botão de sair (Somente para telas pequenas)*/

.sair {
  display: none; /*Nota: Sempre terá display none em dispositivos maiores.*/
  left: 0;
  top: 0;
  padding: 10px;
  position: absolute;
}

.sair i {
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
}

/* Configurando a parte esquerda da tela de cadastro (Somente Telas Grandes)*/

.rightSide {
  position: relative;
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(to top, #1cb4da, rgb(27, 99, 194));
  width: 600px;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.rightSide .rightContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  flex-direction: column;
}

.rightSide .rightContent h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center;
  color: azure;
}

/* Configurando a parte direita da tela de login (Somente Telas Grandes)*/

.leftSide {
  border-radius: 10px 0px 0px 10px;
  background: linear-gradient(to top, #4064c7, rgb(68, 84, 175));
  width: 600px;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-right: 5px solid rgb(1, 1, 5);
}

.leftContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
}

.leftSide .leftContent h1,
p {
  color: white;
}

.leftSide .leftContent h1 {
  font-size: 2.2rem;
}

.leftSide .leftContent p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1.1rem;
  margin-top: 20px;
  max-width: 450px;
  text-align: justify;
}

.leftSide .leftContent p {
  margin-top: 20px;
  max-width: 450px;
  text-align: justify;
}

.leftSide .leftContent .botao-signUp {
  padding: 15px;
  border-radius: 20px;
  background-color: #020c42d3;
  border: 1px solid #00ffbf;
  margin-top: 30px;
  cursor: pointer;
}

.leftSide .leftContent .botao-signUp a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

/* Configurando o formulario */

form {
  display: flex;
  position: relative;
  border-radius: 20px;
  padding: 40px 100px;
}

form input {
  font-size: 1.1rem;
  height: 3rem;
  padding: 15px 15px;
  margin-bottom: 10px;
  transition: 1s;
  border: none;
  box-shadow: blue 0px 0px 0px 2px inset,
    rgba(173, 240, 153, 0) 10px -10px 0px -3px,
    rgba(27, 52, 193, 0.356) 1px -3px;
}

form input:focus {
  background-color: #00b7ff52;
  height: 4rem;
  transition: 0.5s;
}

/*Configurando botão*/

.buttonContainer {
  margin-top: 30px;
}

.btn {
  --color: #00ffbf;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: #352570;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.btn::after,
.btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;

  transition: 0.5s ease-out;
  background-color: var(--color);
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
  color: var(--color2);
}

.btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

/*Ajustando site para diferente tipo de telas*/

@media (max-width: 800px) {
  .leftSide {
    display: none;
  }
  .rightSide {
    border-radius: 10px;
    height: 70vh;
    max-width: 95vw;
  }

  .sair {
    display: block;
  }

  .rightSide .rightContent h2 {
    margin-top: 50px;
    font-size: 2.5rem;
  }

  form input {
    height: 30px;
  }
}

@media (min-width: 810px) and (max-width: 1100px) {
  .leftSide {
    display: none;
  }

  .rightSide {
    border-radius: 10px;
    height: 70vh;
    max-width: 95vw;
    margin-bottom: 150px;
  }

  .sair {
    display: block;
  }

  .rightSide .rightContent h2 {
    font-size: 4.5rem;
  }

  body {
    height: 140vh;
  }

  .sair i {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 25px;
  }

  form input {
    font-size: 1.5rem;
    height: 50px;
  }
}

@media (min-width: 1110px) and (max-width: 1300px) {
  .leftSide {
    display: none;
  }

  .rightSide {
    border-radius: 10px;
    height: 70vh;
    max-width: 55vw;
  }

  .sair {
    display: block;
  }

  .rightSide .rightContent h2 {
    margin-top: 40px;
    font-size: 4.5rem;
  }

  .sair i {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 25px;
  }

  form input {
    font-size: 1.5rem;
    height: 50px;
  }
}

@media (min-width: 1301px) and (max-width: 1396px) {
  .leftSide {
    display: none;
  }

  .rightSide {
    border-radius: 10px;
    height: 70vh;
    max-width: 55vw;
  }

  .sair {
    display: block;
  }

  .rightSide .rightContent h2 {
    font-size: 4.5rem;
  }

  .sair i {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 25px;
  }

  form input {
    font-size: 1.5rem;
    height: 50px;
  }
}
